{% extends "layout.html" %}
{% block content %}
    <h2>Sign Guestbook</h2>
    <form action="{{ url_for('sign') }}" method=post>
	<p class="heading">Department: <input type=text name=department>
	<p class="heading">Course Number: <input type=text name=course_num>
        <p class="heading">Quarter: <input type=text name=quarter>
	<p class="heading">Year: <input type=text name=year>
	<p class="heading">Instructor: <input type=text name=instructor>
	<p class="heading">Review:
	<textarea rows=5 cols=50 name=review></textarea></p>
	<p><input type=submit value=Submit></p>
    </form>
{% endblock %}
