{% extends "layout.html" %}
{% block content %}
    <h2>Coursebook</h2>

    <h3>Sign <a href="{{ url_for('sign') }}">here</a></h3>
    <h3>Entries</h3>
    {% for entry in entries %}
        <p class=entry>
            {{ entry.department}}{{entry.course_num }} {{ entry.quarter }} {{ entry.year }}
	    <br>Instructor: {{ entry.instructor }}<br>
	    Review: {{ entry.review }}
        </p>
    {% endfor %}

{% endblock %}
