body       { font-family: "Georgia", serif; font-size: 20px; }
a, h1, h2  { color: #0066cc; }
form       { margin:0; padding: 0; }
.container { max-width: 1000px}
.heading  { font-weight: bold; }
.page      { margin:.1em auto; padding:.1em; width: 504px;  }
.input-box { margin-bottom: 40px; }
.entry     { margin-bottom: 2em; padding-bottom: 2em; border-bottom: 1px solid #888; font-size: 16px; }
.entry ul { margin: 0; padding: 0; }
.entry li { list-style: none; margin: 2px 0; }
.entry li label { width: 140px; font-weight: bold; display: inline-block; }
p.team-name, p.records { margin-bottom: 8px; color: #0066cc; font-weight: bold; font-size: 20px; }
div.record-image { text-align: center; margin: -55px 0 0 -110px; }
input[type=text] { margin: .5em 0; padding: .5em; font-size: 12px; color: #777; width: 300px;}
input[type=textarea] { margin: .5em 0; padding: .5em; font-size: 12px; color: #777; width: 300px;}
.error {color: #ff0000}
