<!doctype html>
<html>
<title>MBB Library</title>
<link rel="stylesheet" type="text/css" href="../static/style.css" />
<div class="page">
    <h2>Welcome to the College Basketball Library!</h2>
    <form action="{{ url_for('index') }}" method=post>
        <div class="input-box">
            <label>Please input a college (ex: Oregon State)</label>
            <p class="heading"><input type="text" name="college" /></p>
            <p><input type="submit" value="Submit"/></p>
        </div>
    </form>
    {% if (error == 'true') %}
        <div class="error">
            Record Not Found
        </div>
    {% endif %}
    {% for row in results %}
        <div class="entry">
            <ul>
                <li>
                    <p class="team-name">{{ row["market"] }} {{ row["name"] }}</p>
                </li>
                <li>
                    <label>Full Name:</label> {{ row["turner_name"] }}
                </li>
                <li>
                    <label>Location:</label> {{ row["venue_city"] }}, {{ row["venue_state"] }}
                </li>
                <li>
                    <label>Arena:</label> {{ row["venue_name"] }}
                </li>
                <li>
                    <label>Capacity:</label> {{ row["venue_capacity"] }}
                </li>
                <li>
                    <label>Mascot:</label> {{ row['mascot_name'] }} the {{ row['mascot'] }} 
                </li>
                <li>
                    <label>Conference:</label> {{ row["conf_alias"] }}
                </li>
                <li>
                    <p class="records">Historical Season Records:</p>                 
                </li>
            </ul>   
        </div>
        <div class="record-image">
            <img src="{{record_image}}" />
        </div>   
    {% endfor %}
</div>
</html>

